<div id="<%= dom_id care %>">
  <p>
    <strong>Make:</strong>
    <%= care.make %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= care.model %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= care.year %>
  </p>

</div>
